# Hey there! 👋
# This is an example of the configuration file for the repo.
# Projects have a symlink to this file so you can just copy it to .env.local and fill in the values during development.
# 
# 💜  - Required
# 🩵  - Optional in development, required in production
# 🤍  - Optional
# 🧪  - Testing purposes only


# 💜  DATABASE CONNECTION STRING
# Connection to the database (used by prisma)
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"


# 💜  CONFIGURATION FOR THE BUSINESS
# Used by email templates and other business related things
BUSINESS_FANTASY_NAME="MyBiz"
BUSINESS_NAME="My Business Inc"
BUSINESS_ADDRESS="123 Main St, Anytown, USA"
BUSINESS_PHONE="555-555-5555"
BUSINESS_EMAIL="contact@mybusiness.com"

# 💜  AUTHENTICATION SYSTEM
# @see: https://next-auth.js.org/configuration/options
NEXTAUTH_URL='http://localhost:3000'
# You can use: `openssl rand -base64 32` to generate one
NEXTAUTH_SECRET=
# 
# 🤍  GOOGLE AUTHENTICATION
# This is the Google authentication system used to authenticate users. It's optional and if not set the
# users can't login with Google.
# @see: https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


# 🩵  EMAIL CONFIGURATION
# This is the email configuration used to send emails to users. If not set, the emails will be 
# printed to the console.
FROM_EMAIL="Turboship <turboship@resend.dev>"
RESEND_API_KEY=


# 🤍  BACKGROUND JOBS
# This is the configuration for the background jobs server. It's optional and if not set the server will
# just skip running background jobs.
# Altough it's optional, it's HIGHLY recommended to set it up specifically if you use
# Vercel for hosting with their 10s timeout on free plans.
# 
# This repo already comes with a development server in the docker-compose so after running `bun run setup`,
# head to `http://localhost:3030` and create a user to be able to login to the dashboard and get the API key.
# If you prefer to use their cloud service, you can sign up for a free account at https://trigger.dev, create
# a project and get the API key from there instead then set the URL to `https://cloud.trigger.dev`.
# 
# NOTE: Trigger.dev currently only supports serverless functions. If you want to deploy the projects to a
# long running server, you'll have to implement a different service. 
# @see https://github.com/triggerdotdev/trigger.dev/discussions/430
TRIGGER_API_URL=http://localhost:3030
TRIGGER_API_KEY=
NEXT_PUBLIC_TRIGGER_PUBLIC_API_KEY=
# 
# 🤍  TUNNELING FOR LOCAL DEVELOPMENT
# This is the subdomain used for local development. It's optional and if not set, the tunneling will generate
# a random subdomain for you. If you want to use a specific subdomain, set it here and make sure it's unique
# across all developers. (this is useful when testing webhooks locally in conjunction with the background jobs)
TUNNEL_LOCAL_SUBDOMAIN=


# 🧪  TESTING CONFIGURATION
VITE_CJS_IGNORE_WARNING=true
